@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}
body{ 
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(45deg,#A8603E,#FFB491, #F59D74);
    background-size: cover;
}
html {
    overflow: hidden;
  
}

.container { 
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 20px 10px;
}
.login{ 
    margin-top: 12px;
    width: 360px;
    height: 460px;
    padding: 40px 15px;
    padding-top: 15px;
    border-radius: 3%;
}
.digito{ 
    position: relative;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.entrar button{ 
    background: rgb(148, 92, 74);
    margin-top: 20px;
    padding: 17px;
    border: none;
    width: 98%;
    border-radius: 10px;
}
.cadastrar button {
    background: rgb(255, 145, 108);
    margin-top: 10px;
    padding: 15px;
    border: none;
    width: 98%;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(124, 196, 255);
    cursor: pointer;
}
.btn{ 
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 45px;
    background-color: transparent;
    border: none;
    transition: .2s;
}
input{ 
    width: 51px;
    height: 46px;
    display: inline-block;
    border: 0;
    max-width: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    outline: none;
    min-width: 300px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}
input::placeholder{ 
    color: rgb(148, 92, 74);
}
input:not(:placeholder-shown){
    border-bottom: rgb(148, 92, 74) 1px solid;
}
input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}
.digito > * {
    height: 2.5em;
    float: left;
}
.alternativo  {
    flex-grow: 1;
  
}
 h3{ 
    margin-top:4px;
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-size: 300px 100px ;
    background-color: 2b3e4c;
    text-align: center;
    display: block;
    padding: 8px 25px;

}
.digito img {
    cursor: pointer;
    width: 37px;
    margin-top: -38px;
    margin-left: 260px;
    opacity: .3;
}
.ajuda{
  margin-top: 6px;
  margin-left: 2px;
  text-align: center;

  color:rgb(255, 145, 108);
  font-weight: bold;
  cursor: pointer;
 }
.ajuda a{ 
    text-decoration: none;
    color:rgb(241, 237, 235);
    font-size: 15px;
}
.icones{
    flex-flow: row nowrap;
}
.espaço{
    max-width: 360px;
	margin: 1 auto;
	display: flex;
}
.icon{
    flex: 1;
	margin-top: -15px;
	text-align: center;
}
.tebgame{
    border-bottom: none;
}