/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&display=swap');

/* Raiz Android */

:root {
  --header-height: 2.5rem;
  --hue: 174;
  --sat: 63%;  
  --container-color: #f89d73;
  --box-color: rgb(168, 96, 62);
  --shadow-color: rgba(168, 96, 62, 0.285);
  --select-color: rgb( 99, 22, 31);
  --ready-color: rgb(148, 92, 74);
  --body-font: "Lato", serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
}

/* Posicionamento de Tela*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  overflow: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  color: var(--text-color);
}

/* Ajustamento de Menu */
.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  font-size: 25px;
  color: var(--select-color);
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 10px;
}
.section__height {
  height: 100vh;
}

/* Barra de Menu */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5%;
  z-index: var(--z-fixed);
  transition: .4s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  border-radius: 10px;
}

.nav__logo {
  height: 35px;
}

.nav__logo {
  transition: transform 0.6s ease;
  cursor: pointer;
}

.nav__logo:hover {
  transform: rotate(360deg);
}

.nav__logo:active {
  transform: rotate(720deg);
  transition: transform 0.3s ease;
}

.nav__logo-container {
    display: flex;
    align-items: center;
}

.nav__logo-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--select-color);
  margin-left: 10px;
}

.nav__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.1s ease;
}

.nav__img:active {
  transform: scale(0.95);
  border: 2px solid var(--select-color);
}

.nav__img.active {
  border: 2px solid var(--select-color);
}

.nav__img:hover {
  border: 2px solid var(--select-color);
}

.nav__img.show-border {
  border: 2px solid var(--select-color);
}

.nav__menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  row-gap: 4px;
  color: rgb(168, 96, 62);
  font-weight: 600;
}

.bxs-joystick, .bxs-user-circle, .bxs-notepad, .bxs-store {
  margin-right: 0.5rem;
}

.nav__link {
  display: flex;
  align-items: center;
  color: rgb(168, 96, 62);
  font-weight: 600;
  text-decoration: none;
}

.nav__icon {
  font-size: 1.5rem;
}

.nav__name {
  font-size: var(--normal-font-size);
}

.nav__link.active-link {
  color: var(--select-color);
  font-weight: bold;
}

.nav__link:hover .nav__icon,
.nav__link:hover .nav__name {
    color:var(--select-color);
}

.profile-img, .rounded-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#profile-nick {
  color: var(--select-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3px;
}

#profile-img-mini{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  position: relative;
  display: inline-block;
}

.profile-options {
  display: none;
  position: absolute;
  width: 200px;
  height: 212px;
  top: 130%;
  left: -200%;
  font-size: 14px;
  transform: translateX(-50%);
  background-color: var(--container-color);
  box-shadow: 0 0 10px var(--box-color);
  border-radius: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
}

.profile-options.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.profile-option {
  display: block;
  padding: 10px 20px;
  color: var(--box-color);
  font-weight: bold;
  margin-bottom: -2px;
  text-decoration: none;
}

.profile-option-box {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--container-color);
  transition: background-color 0.3s ease;
}

.profile-option-box a:hover {
  background-color: var(--shadow-color);
  border-radius: 20px;
}

.profile-option-box a.active-link{
  background-color: var(--shadow-color);
  border-radius: 20px;
}

#editar-perfil #change-profile-pic-btn {
    margin-top: -14px;
    display: block;
    padding: 10px 10px;
    background-color: var(--ready-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#editar-perfil #change-profile-pic-btn:hover {
    background-color: var(--select-color);
}

#editar-perfil #change-profile-pic-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#change-profile-pic-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--ready-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#change-profile-pic-btn:hover {
    background-color: var(--select-color);
}

#change-profile-pic-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* .profile-option-box a:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.248);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */


/* Loja */
/* Carteira Usuário */
.carteira{
  display: flex;
}
.carteira__money{ 
  background-color: white;
  width: 95px;
  height: 25px;
  border-radius: 20px;
  margin-left: 15px;
}

.carteira__money img{ 
  margin-top: -23px;
  margin-left: -18px;
}

.carteira__money button{
  background-color: #e6734a;
  border: none;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 26px;
  height: 22px;
  width: 24px;
}

.carteira__money p{ 
  margin-top: -31px;
  margin-left: 35px;
}

.carteira__dima{ 
  background-color: white;
  width: 95px;
  height: 25px;
  border-radius: 20px;
  margin-left: 15px;
}

.carteira__dima img{ 
  margin-top: -20px;
  margin-left: -11px;
}
.carteira__dima button{
  background-color: #e6734a;
  border: none;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 35px;
  height: 22px;
  width: 24px;
}
.carteira__dima p{
  margin-top: -26px;
  margin-left: 35px;
}


/* Anúncios de Tela */
.box__anuncio{
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.anuncios button{
  margin-top: 77px;
}
.box__perfil{ 
  margin-right: auto;
  margin-left: auto;
}
.anuncios{
  display: flex;
  flex-wrap: wrap;
}
.anuncios .box__anuncio{
  background-color: white;
  box-shadow: 3px 3px  rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 110px;
  border-radius: 15px;
}
.anuncios button{
  color: #fff;
  background-color: #e6734a;
}

.anuncios button:focus{
  color: #fff;
  background-color: #e6734a;
  border-color: #FFB491;
  box-shadow: 0 0 0 0.2rem rgb(99, 22, 31/ 50%);
}

.anuncios button{ 
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.anuncios button:not(:disabled){ 
  cursor: pointer;
}
.anuncios button{ 
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


/* Jogos */
/* Boxes de Jogos */
.boxes{ 
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 210px;
}

.box {
  background-color: var(--box-color);
  height: 144px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s ease;
  width: 135px;
}

.box:hover{
  transform: scale(1.1);
  border: 2px solid var(--select-color);
}

.miniatura img {
  width: 130px;
  border-radius: 12px;
  height: 110px;
  margin-top: 4px;
}

.box__title {
  margin-top: -5px;
  margin-left: -75px;
  color: var(--container-color);
  font-size: 14px;
}

/* Perfil */
/* Posicionamento de Tela */

#profile-img-menu{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#profile-nick-menu {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.profile-level{
  display: inline-block;
  padding: .25rem 1rem; 
  background-color: var(--ready-color);
  color: white;
  border-radius: 20px;
  margin-left: 20;
  text-align: center;
  margin-top: 5px; 
}

.profile-biography{
  margin-top: 2.0rem;
  text-align: center;
}

#biography-input {
	width: 80%;
	max-width: 300px;
	height: 80px;
	border-radius: 20px;
	border: transparent;
  box-shadow: 0 0 5px rgba(209, 139, 106, 0.5);
	padding: 10px;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
	background-color: var(--shadow-color);
	resize: none;
	outline: none;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	margin: 0 auto;
  display: block;
}

#biography-input:focus {
  border-color: var(--select-color);
  box-shadow: 0 0 5px rgba(209, 139, 106, 0.5);
}

.biography-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-container {
  position: absolute;
  bottom: -40px;
}

.button-container .btn {
  margin-left: 2.5px;
  background-color: var(--ready-color);
  color: white;
  border: transparent;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(209, 139, 106, 0.5);
  height: 30px;
  width: 75px;
  transition: transform 0.3s ease;
}

.button-container .btn:hover {
  transform: scale(1.1);
}

.rounded-circle {
  border-radius: 50%!important;
}

.text-center {
  text-align: center;
}

/* Editar Perfil */
#editar-perfil .container {
    max-width: 360px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

#editar-perfil .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editar-perfil .login img {
    margin-bottom: 30px;
}

#editar-perfil .digito {
    display: block;
    position: relative;
    padding: 10px 10px;
    bottom: -5px;
}

#editar-perfil .loginBtn, #seguranca .loginBtn {
  width: 80%;
  padding: 15px;
  cursor: pointer;
  border: 2px solid rgb(131, 68, 47);
  border-radius: 20px;
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  background: var(--ready-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
}

#editar-perfil .loginBtn:hover, #seguranca .loginBtn:hover {
    filter: brightness(0.85);
}

#editar-perfil .loginBtn:active, #seguranca .loginBtn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#editar-perfil input {
  width: 100%;
  height: 46px;
  display: inline-block;
  border: 0;
  border-bottom: 1.5px solid rgb(148, 92, 74);
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease-out;
  border-radius: 0;
  font-size: 16px;
  transition:
    font-size 0.3s ease,
    transform 0.3s ease;
}

#editar-perfil input::placeholder {
    color: rgb(148, 92, 74);
}

#editar-perfil input:not(:placeholder-shown) {
  border-bottom: rgb(131, 68, 47) 1.5px solid;
}

#editar-perfil input:not(:placeholder-shown) + label {
  transform: translateY(-14px) scale(0.8);
}

#editar-perfil input:focus{
  color: rgb(148, 92, 74);
  font-size: 18px;
  transform: scale(1.05); 
}

#editar-perfil input:not(:placeholder-shown) {
  color: rgb(148, 92, 74);
}

#editar-perfil .password-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#editar-perfil .password-container input {
    width: 100%;
    padding-right: 30px;
    font-size: 16px;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.password-container i {
    position: absolute;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    color: rgb(148, 92, 74);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.password-container input:focus + i,
.password-container input:not(:placeholder-shown) + i {
    opacity: 1;
}

#editar-perfil label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(148, 92, 74);
    font-weight: bold;
    margin-top: 11px;
}

#editar-perfil .container::-webkit-scrollbar {
    width: 0;
}

#editar-perfil .container::-webkit-scrollbar-track {
    background: transparent;
}

#editar-perfil .container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#editar-perfil .container {
    scrollbar-width: none;
    scrollbar-color: transparent transparent; 
}

/* Configurações */
/* Posicionamento de Tela */

.bg-blue-300 {
  --tw-bg-opacity: 1;
}
.justify-center {
  justify-content: center;
}
.h-screen {
  height: 40vh;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.max-w-sm {
  max-width: 24rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.w-full {
  width: 100%;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.list-group {
  width: 100%;
}

.list-group-item {
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.list-group-item::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background-color: var(--box-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.list-group-item:last-child::after {
  display: none;
}

.list-group-item a {
  color: var(--box-color);
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
}

.list-group-item:hover {
  background-color: var(--shadow-color);
}

.config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.config-card {
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.config-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.config-item {
    margin-bottom: 15px;
    border-bottom: 1.5px solid rgb(168, 96, 62);
}

.config-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;
  color: var(--box-color);
  text-align: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.config-link i {
    margin-right: 10px;
}

.config-link:hover {
    background-color: var(--shadow-color);
}

/* Segurança */
.security-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--container-color);
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto;
}

.security-option {
    margin-bottom: 20px;
}

.security-label {
    font-size: 1rem;
    color: var(--box-color);
    display: flex;
    align-items: center;
}


.security-btn {
    background-color: var(--ready-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.security-btn:hover {
    background-color: var(--select-color);
}

/* Dimensões de Tela - Nav Bar 767px */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .nav__list {
    width: 50%;
  }
  .nav__list {
    width: 100%;
    gap: 20%;
  }
  .nav__name{
    display: none;
  }
  .boxes{
    padding: 0;
  }
}

/* Dimensões de Tela - Jogos 899px */
@media (min-width:899px){
  .box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  } 
}

/* Dimensões de Tela - Jogos, Box 359px */
@media (min-width:359px){
  .box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  } 
}

/* Dimensões de Tela - Jogos, Box 320px */
@media (min-width:320px){
  .box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}