/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&display=swap');

/* Raiz Android */

:root {
  --header-height: 2.5rem;
  --hue: 174;
  --sat: 63%;  
  --container-color: #f89d73;
  --box-color: rgb(168, 96, 62);
  --shadow-color: rgba(168, 96, 62, 0.285);
  --select-color: rgb( 99, 22, 31);
  --body-font: "Lato", serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
}

/* Posicionamento de Tela*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  overflow: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  color: var(--text-color);
}

/* Ajustamento de Menu */
.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  margin-top: -50px;
  font-size: var(--h1-font-size);
  color: var(--select-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
.section__height {
  height: 100vh;
}

/* Barra de Menu */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5%;
  z-index: var(--z-fixed);
  transition: .4s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 10px;
}

.nav__logo {
  height: 35px;
}

.nav__logo {
  transition: transform 0.6s ease;
  cursor: pointer;
}

.nav__logo:hover {
  transform: rotate(360deg);
}

.nav__logo:active {
  transform: rotate(720deg);
  transition: transform 0.3s ease;
}

.nav__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.1s ease;
}

.nav__img:active {
  transform: scale(0.95);
  border: 2px solid var(--select-color);
}

.nav__img.active {
  border: 2px solid var(--select-color);
}

.nav__img:hover {
  border: 2px solid var(--select-color);
}

.nav__img.show-border {
  border: 2px solid var(--select-color);
}

.nav__menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  row-gap: 4px;
  color: rgb(168, 96, 62);
  font-weight: 600;
}

.bxs-joystick, .bxs-user-circle, .bxs-notepad, .bxs-store {
  margin-right: 0.5rem;
}

.nav__link {
  display: flex;
  align-items: center;
  color: rgb(168, 96, 62);
  font-weight: 600;
  text-decoration: none;
}

.nav__icon {
  font-size: 1.5rem;
}

.nav__name {
  font-size: var(--normal-font-size);
}

.nav__link.active-link {
  color: var(--select-color);
  font-weight: bold;
}

.profile-img, #profile-img-menu {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#profile-nick {
  color: var(--select-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3px;
}

#profile-img-mini{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  position: relative;
  display: inline-block;
}

.profile-options {
  display: none;
  position: absolute;
  width: 200px;
  height: 165px;
  top: 130%;
  left: -200%;
  font-size: 14px;
  transform: translateX(-50%);
  background-color: var(--container-color);
  box-shadow: 0 0 10px var(--box-color);
  border-radius: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
}

.profile-options.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.profile-option {
  display: block;
  padding: 10px 20px;
  color: var(--box-color);
  font-weight: bold;
  margin-bottom: -2px;
  text-decoration: none;
}

.profile-option-box {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--container-color);
  transition: background-color 0.3s ease;
}

.profile-option-box a:hover {
  background-color: var(--shadow-color);
  border-radius: 20px;
}

.profile-option-box a.active-link{
  background-color: var(--shadow-color);
  border-radius: 20px;
}


/* .profile-option-box a:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.248);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */


/* Loja */
/* Carteira Usuário */
.carteira{
  display: flex;
}
.carteira__money{ 
  background-color: white;
  width: 95px;
  height: 25px;
  border-radius: 20px;
  margin-left: 15px;
}

.carteira__money img{ 
  margin-top: -23px;
  margin-left: -18px;
}

.carteira__money button{
  background-color: #e6734a;
  border: none;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 26px;
  height: 22px;
  width: 24px;
}

.carteira__money p{ 
  margin-top: -31px;
  margin-left: 35px;
}

.carteira__dima{ 
  background-color: white;
  width: 95px;
  height: 25px;
  border-radius: 20px;
  margin-left: 15px;
}

.carteira__dima img{ 
  margin-top: -20px;
  margin-left: -11px;
}
.carteira__dima button{
  background-color: #e6734a;
  border: none;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 35px;
  height: 22px;
  width: 24px;
}
.carteira__dima p{
  margin-top: -26px;
  margin-left: 35px;
}


/* Anúncios de Tela */
.box__anuncio{
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.anuncios button{
  margin-top: 77px;
}
.box__perfil{ 
  margin-right: auto;
  margin-left: auto;
}
.anuncios{
  display: flex;
  flex-wrap: wrap;
}
.anuncios .box__anuncio{
  background-color: white;
  box-shadow: 3px 3px  rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 110px;
  border-radius: 15px;
}
.anuncios button{
  color: #fff;
  background-color: #e6734a;
}

.anuncios button:focus{
  color: #fff;
  background-color: #e6734a;
  border-color: #FFB491;
  box-shadow: 0 0 0 0.2rem rgb(99, 22, 31/ 50%);
}

.anuncios button{ 
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.anuncios button:not(:disabled){ 
  cursor: pointer;
}
.anuncios button{ 
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


/* Jogos */
/* Boxes de Jogos */
.boxes{ 
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 0 300px;
}
.box {
   min-width: 150px;
   height: 160px;
   text-align: center;
}

.box{
  transition: transform 0.5s ease;
}

.box:hover{
  transform: scale(1.1);
}

.miniatura button{ 
  border: none;
}

.box__title{
  background-color: var(--box-color);
}

/* Perfil */
/* Posicionamento de Tela */

#profile-img-menu {
  font-size: 1.50rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#profile-nick-menu{
  font-size: 1.2rem;
}

.linha{
  width: 100%;
  border-bottom: 1px solid rgb(209, 139, 106);
}

.text-center {
  text-align: center!important;
}
.rounded-circle {
  border-radius: 50%!important;
}
img, svg {
  vertical-align: middle;
}
.text-center {
  text-align: center!important;
}
.mt-3 {
  margin-top: 0.7rem!important;
}
.rounded {
  border-radius: .25rem!important;
}
.bg-secondary {
  background-color: rgb( 99, 22, 31)!important;
}
.text-white {
  color: #fff!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.p-1 {
  padding: .25rem!important;
}
.mb-0 {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem!important;
}
.mt-2 {
  margin-top: .5rem!important;
}

h6{
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.25rem;
  color: rgb( 99, 22, 31);
}

.mt-1 {
  margin-top: 2.0rem;
}
.fonts {
  font-size: 35px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.fonts {
  font-size: 15px
}

.pl-4{
  padding-left: 1.5rem!important;
}
.pr-4{
  padding-right: 1.5rem!important;
}
.pb-3{
  padding-bottom: 1rem!important;
}
.pt-3{
  padding-top: 1rem!important;
}

/* Botão de Perfil */
.buttons button:nth-child(1) {
    border: 1px solid rgb(209, 139, 106)!important;
    background-color: rgb(209, 139, 106);
    color: #fff;
    height: 40px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
}


/* Configurações */
/* Posicionamento de Tela */

.bg-blue-300 {
  --tw-bg-opacity: 1;
}
.justify-center {
  justify-content: center;
}
.h-screen {
  height: 40vh;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.max-w-sm {
  max-width: 24rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.w-full {
  width: 100%;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Dimensões de Tela - Nav Bar 767px */
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
  .nav__list {
    width: 50%;
  }
  .nav__list {
    width: 100%;
    gap: 20%;
  }
  .nav__name{
    display: none;
  }
  .boxes{
    padding: 0;
  }
}

/* Dimensões de Tela - Jogos, Box 411px */
@media (min-width:411px){
  .box{
    margin-top: 40px;
    margin-left: 36px;
    margin-right: 5px;
    margin-bottom: 15px;
   }
}

/* Dimensões de Tela - Jogos, Box 360px */
@media (min-width:360px){
  .box{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  } 
}

/* Dimensões de Tela - Jogos, Box 320px */
@media (min-width:320px){
  .box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}